* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#000706, #00272d);
    background-size: cover;
    width: 100vw;
    height: auto;
    color: #ffffff;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 120px;
    padding: 0 5%;
    background-color: #000706c2;
}

#containerLogo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
}

#logo {
    background-color: rgb(241, 241, 241);
    width: 90px;
    height: 90px;
    border-radius: 100%;
    overflow: hidden;
}

#logo img{
    width: 100%;
    height: 100%;
}

#btnNavegacao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    height: 65px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 12;
}

.linha {
    margin: 0;
    width: 75%;
    height: 7px;
    background-color: #0c7e7e;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.navBar {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #00272d;
    width: 70vw;
    height: 100vh;
    z-index: 11;
    transition: right 0.3s ease;
    padding-top: 120px;
}

.navBar.ativo {
    right: 0;
}

.navBar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    height: auto;
}

.navBar ul li a {
    font-size: 45px;
    display: block;
    padding: 40px 0;
    border-bottom: solid 6px #000706;
}

#particulasCanva{
    display: block;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 120px - 60px); 
    padding: 50px 0;
}

#cadastro-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: auto;
    background-color: #000706b0;
    border-radius: 20px;
    padding: 40px 30px;
    margin-top: 100px;
}

#cadastro-section h2 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
}

#cadastroForm {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}

#cadastroForm input, #cadastroForm button {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 36px;
    border: solid 4px #0c7e7e;
    transition: 0.5s;
    padding: 0 10px;
}

#cadastroForm button {
    background-color: #0c7e7e;
    color: #ffffff;
}

#cadastroForm input, #cadastroForm input::placeholder {
    background-color: transparent;
    color: #ffffff;
}

#cadastroForm button:hover {
    transform: scale(1.05);
}

footer {
    background-color: #000706b0;
    height: auto;
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 32px;
    font-weight: 500;
}

.redeSocial {
    margin-top: 8px;
    gap: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#instagram, #linkedin {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    border: none;
}

#instagram img, #linkedin img{
    width: 100%;
    height: 100%;
}


/* ******************************************* */
/* MEDIA QUERY PARA DESKTOP (PC) - ACIMA DE 992px */
/* ******************************************* */
@media (min-width: 992px) {
    header {
        justify-content: space-around;
        height: 70px;
        padding: 0;
    }
    #containerLogo {
        font-size: 15px;
    }
    #logo {
        width: 60px;
        height: 60px;
    }
    
    #btnNavegacao {
        display: none;
    }

    .navBar {
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        padding-top: 0;
    }

    .navBar ul {
        flex-direction: row;
        gap: 30px;
        height: auto;
    }

    .navBar ul li a {
        font-size: 20px;
        display: block;
        padding: 0;
        border: none;
        transition: 0.5s;
    }

	.navBar ul li a:hover{
		transform: scale(1.1);
        color: #0c7e7e;
		border-radius: 0.5;
	}

    main {
        height: auto;
        padding-top: 1vh;
        padding-bottom: 2rem;

    }

    #cadastro-section {
        width: 50vw;
        height: auto;
        padding: 40px;
    }


    #cadastro-section h2 {
        font-size: 35px;
    }

    #cadastroForm {
        margin-top: 0;
    }

    #cadastroForm input, #cadastroForm button {
        height: 55px;
        font-size: 18px;
        margin-bottom: 30px;
    }

    footer {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    footer p {
        font-size: 18px;
        margin: 0;
    }

    .redeSocial {
        display:flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        gap: 10px;
    }

    #instagram, #linkedin {
        width: 50px;
        height: 50px;
    }
}
